<body class="body">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab"
                data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Dados</a>

            <a *ngIf="idupdate >0" class="nav-item nav-link"
                id="nav-procedimento-tab" data-toggle="tab"
                href="#nav-procedimento" role="tab"
                aria-controls="nav-procedimento"
                aria-selected="false">Procedimentos</a>

            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                href="#nav-profile" role="tab" aria-controls="nav-profile"
                aria-selected="false">Anexos</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
            aria-labelledby="nav-home-tab">
            <div class="row" style="margin-left: 2%; margin-right: 2%;">
                <div class="col-md-1"></div>
                <div class="col-md-10 border">
                    <div class="responsiva" style="margin-bottom: 50px;">
                        <h1 class="text-center">{{titulo}}</h1>
                        <h4 class="text-center" style="margin-bottom: 25px;">
                            Campos com (*) são obrigatórios </h4>
                    </div>
                    <form method="post" [formGroup]="DenuciasForm">
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <b>*Data:</b>
                                    <input class="form-control"
                                        formControlName="data" name=data
                                        type="date">
                                </div>

                                <div class="form-group col-md-3">
                                    <b>Hora</b>
                                    <input class="form-control" type="time"
                                        formControlName="hora" name="hora">
                                </div>
                                <div class="form-group col-md-3">
                                    <b>*Origem</b>
                                    <div id="alvo">
                                        <select name="origem" id="select"
                                            formControlName="origem"
                                            class="custom-select"
                                            [ngClass]="{'form-submitted': formSubmitted}">
                                            <option value="pagina_facebook">
                                                Página do Facebook</option>
                                            <option value="facebook">Facebook
                                            </option>
                                            <option value="whatsApp">Whatsapp
                                            </option>
                                            <option value="telefone">Telefone
                                            </option>
                                            <option value="pessoalmente">
                                                Pessoalmente</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <b>*Status</b>
                                    <div id="alvo">
                                        <select name="status" id="select"
                                            formControlName="status"
                                            class="custom-select"
                                            [ngClass]="{'form-submitted': formSubmitted}">
                                            <option
                                                value="aguardandoConstatacao">
                                                Aguardado Constatação</option>
                                            <option value="arquivada">Arquivada
                                            </option>
                                            <option value="infracionada">
                                                Infracionadas </option>
                                            <option value="notificada">
                                                Notificadas </option>
                                            <option value="publicadoEmEdital">
                                                Publicada em Edital</option>
                                            <option
                                                value="providenciasDiversas">
                                                Providencias Diversas</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-9">
                                    <b>Reclamante</b>
                                    <input class="form-control" type="text"
                                        formControlName="reclamante"
                                        name="reclamante">
                                </div>

                                <div class="form-group col-md-3">
                                    <b>Contato Reclamante:</b>
                                    <input class="form-control"
                                        [textMask]="{mask: contatomask}"
                                        formControlName="contato_reclamante"
                                        type="text" name="contato_reclamante"
                                        maxlength=“20”>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <b>Denunciado</b>
                                    <input class="form-control"
                                        formControlName="denunciado"
                                        name="denunciado">
                                </div>
                                <div class="form-group col-md-3">
                                    <b>Contato Denunciado:</b>
                                    <input class="form-control"
                                        [textMask]="{mask: contatomask}"
                                        formControlName="contato_denunciado"
                                        name="contato_denunciado"
                                        maxlength=“20”>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <b>*Endereço:</b>
                                    <input class="form-control"
                                        formControlName="endereco"
                                        name="endereco"
                                        [ngClass]="{'form-submitted': formSubmitted}">
                                </div>
                                <div class="form-group col-md-3">
                                    <b>*Bairro:</b>
                                    <input class="form-control"
                                        formControlName="bairro" name="bairro"
                                        type="text"
                                        [ngClass]="{'form-submitted': formSubmitted}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <b>*Ponto de Referência:</b>
                                    <textarea rows="5" class="form-control"
                                        formControlName="ponto_de_referencia"
                                        name="ponto_de_referencia" type="text"
                                        [ngClass]="{'form-submitted': formSubmitted}"> </textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <b>*Descrição:</b>
                                    <textarea rows="5" class="form-control"
                                        formControlName="descricao"
                                        name="descricao" type="text"
                                        [ngClass]="{'form-submitted': formSubmitted}"> </textarea>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div *ngIf="idupdate == null" class="text-center">
                                <button type="button" class="btn btn-dark"
                                    (click)="salvar()">
                                    <span
                                        class="spinner-border spinner-border-sm"
                                        role="status"
                                        [ngClass]="{ spinnerLoading: loadingCadastro }"
                                        aria-hidden="true"></span>
                                    <i [ngClass]="{ spinnerLoading: !loading }"
                                        aria-hidden="true"></i> Cadastrar
                                </button>
                            </div>

                            <div *ngIf="idupdate > 0" class="text-center">
                                <button type="submit" class="btn btn-dark"
                                    (click)="atualizar()">
                                    <span
                                        class="spinner-border spinner-border-sm"
                                        role="status"
                                        [ngClass]="{ spinnerLoading: loadingCadastro }"
                                        aria-hidden="true"></span>
                                    <i [ngClass]="{ spinnerLoading: !loading }"
                                        aria-hidden="true"></i> Atualizar
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="idupdate >0" class="tab-pane fade" id="nav-procedimento"
            role="tabpanel" aria-labelledby="nav-procedimento-tab" align=center>
            <div style="margin-left: 2%; margin-right: 2%;">
                <div class="border col-sm-9 text-left">
                    <div class="responsiva">
                        <h1 class="text-center">Cadastrar Procedimento</h1>
                    </div>
                    <form method="POST" [formGroup]="formProcedimento">
                        <div class="form-group col-sm-4">
                            <b>Data:</b>
                            <input class="form-control" formControlName="data"
                                name="data" type="date">
                        </div>
                        <div class="form-group col-sm-9">
                            <b>*Descrição</b>
                            <textarea class="form-control"
                                formControlName="descricao" name="descricao"
                                [ngClass]="{'form-submitted': formSubmitted}"></textarea>
                        </div>
                        <div class="text-center">

                            <button type="submit" class="btn btn-dark"
                                value="Cadastrar"
                                (click)="submitProcedimento()">
                                <span class="spinner-border spinner-border-sm"
                                    role="status"
                                    [ngClass]="{ spinnerLoading: loadingProcedimento }"
                                    aria-hidden="true"></span>
                                <i [ngClass]="{ spinnerLoading: !loading }"
                                    aria-hidden="true"></i> Cadastrar
                            </button>

                        </div>
                    </form>
                </div>
                <div *ngIf="denuncia && denuncia.procedimentos != null"
                    class="col-md-6" style=" margin-top: 50px;">
                    <table class=" table table-bordered"
                        *ngFor="let item of denuncia.procedimentos">
                        <tr>
                            <th>Descrição</th>
                            <th>data</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td>{{item.descricao}}</td>
                                <td>{{item.data| date: 'dd/MM/yyyy'}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
            aria-labelledby="nav-profile-tab">
            <div style="margin-left: 2%; margin-right: 2%;">
                <div style="margin-top:10px;" align="center">
                    <input type="file" id="teste" style="display: block;"
                        class="text-center" (change)="onUploadChange($event)"
                        accept=".png, .jpg, .jpeg, .pdf, .docx" multiple>
                </div>
                <div class="col-md-12" style="margin-left: 20px;">
                    <div class="row">
                        <div class=" t col-md-3"
                            *ngFor="let item of base64textString; let i = index"
                            style="max-width: 285px;">
                            <div class="card-header text-right col-md-12">
                                <i class="fa fa-times" aria-hidden="true "
                                    (click)="removerDaLista(i) "></i>
                            </div>
                            <div class="card">
                                <div align="center">
                                    <button
                                        *ngIf="arq[i]==='image/png' || arq[i]==='image/jpeg' "
                                        data-toggle="modal"
                                        data-target=".bd-example-modal-lg"
                                        (click)="verAnexoCarregado(i)">
                                        <img class="text-center "
                                            src='data:image/png;base64,{{base64textString[i]}}'
                                            alt=" " class="cad-img-top "
                                            id="img " style="max-width: 100%; max-height: 80px;
                                        min-width: 80px; ">
                                    </button>

                                    <i *ngIf="arq[i]==='application/pdf' "
                                        class="text-center "
                                        class="fa fa-file-pdf-o fa-5x "></i>
                                    <i *ngIf="arq[i]==='application/vnd.openxmlformats-officedocument.wordprocessingml.document' "
                                        class="text-center "
                                        class="fa fa-file-word-o fa-5x "
                                        aria-hidden="true "></i>
                                    <p align="center"
                                        style="margin-top: 10px; ">
                                        {{nomeArquivo[i]}}</p>

                                </div>
                                <input class="form-control " type="text "
                                    [(ngModel)]="descricao[i] "
                                    placeholder="Adicionar Descrição "
                                    name="descricao_completa ">
                                <button class="btn btn-dark form-control "
                                    id="btn " value="Enviar Arquivo "
                                    (click)="enviar(item, i) ">
                                    <span
                                        class="spinner-border spinner-border-sm "
                                        role="status "
                                        [ngClass]="{ spinnerLoading: loading[i]} "
                                        aria-hidden="true "></span>
                                    <i [ngClass]="{ spinnerLoading: !loading } "
                                        aria-hidden="true "></i> Enviar Arquivo
                                </button>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="base64textString.length> 1" class="text-center">
                        <input type="submit" class="btn btn-dark"
                            value="Enviar Arquivos" (click)="enviarTodos()">
                    </div>
                </div>
                <div class="col-md-12"
                    style="border-top: 1px solid #bdc3c7; margin-top: 50px; margin-left: 0px !important;">
                    <div align="center" style="margin-top: 10px;">
                        <a (click)=" ListaArq()">
                            <i [ngClass]="{ spinnerLoading: !loadingNumvem }"
                                class="fa fa-cloud-download fa-2x"
                                aria-hidden="tue"></i>
                            <span class="spinner-border spinner-border-sm"
                                role="status"
                                [ngClass]="{ spinnerLoading: loadingNumvem }"
                                aria-hidden="true"
                                style="margin-right: 15px;"></span> Visualizar
                            arquivos já armazenados
                        </a>
                    </div>

                    <div style="margin-left: 20px;">
                        <div class="row">
                            <div class="t col-md-3" style="max-width: 280px"
                                *ngFor="let item of listaArq; let i = index">
                                <div>
                                    <div class="card-header text-right">
                                    </div>
                                    <div class="card">
                                        <div align="center">
                                            <button
                                                *ngIf="item.type.toString() === 'png' || item.type.toString() === 'jpeg'"
                                                data-toggle="modal"
                                                data-target=".bd-example-modal-lg"
                                                (click)="verAnexo(item)">
                                                <img *ngIf="item.type.toString() ==='jpeg'"
                                                    class="text-center cad-img-top"
                                                    src="{{item.url_location}}"
                                                    id="img "
                                                    style="max-width: 100%; max-height: 80px; min-width: 80px;" />
                                            </button>
                                            <a [href]="item.url_location"
                                                target="_blank"
                                                rel="noopener noreferrer">
                                                <i *ngIf="item.type ==='pdf' "
                                                    class="text-center "
                                                    class="fa fa-file-pdf-o cad-img-top"
                                                    aria-hidden="true "
                                                    style="font-size: 80px; "></i>
                                            </a>
                                            <a [href]="item.url_location"
                                                target="_blank"
                                                rel="noopener noreferrer">
                                                <i *ngIf="item.type ==='docx'"
                                                    class="text-center"
                                                    class="fa fa-file-word-o"
                                                    aria-hidden="true"
                                                    style="font-size: 80px;"></i>
                                            </a>
                                            <p style="margin-top: 10px;">
                                                {{item.descricao}}</p>
                                        </div>

                                        <button style="margin-bottom: 15px;"
                                            class="btn btn-danger form-control"
                                            data-toggle="modal"
                                            data-target="#exampleModalLong"
                                            (click)="dados(item, i)">
                                            <span
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                [ngClass]="{ spinnerLoading: loadingRemove[i] }"
                                                aria-hidden="true"></span>
                                            <i [ngClass]="{ spinnerLoading: !loading }"
                                                aria-hidden="true"></i> Remover
                                        </button>
                                    </div>
                                </div>

                                <div class="modal fade" tabindex="-1"
                                    id="exampleModalLong" role="dialog"
                                    tabindex="-1"
                                    aria-labelledby="exampleModalLong"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div
                                                class="modal-header bg-danger text-white">
                                                Excluir Item
                                                <button type="button"
                                                    class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span
                                                        aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Tem certeza que deseja
                                                    excluir esse anexo.</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                    class="btn btn-success"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button type="button"
                                                    class="btn btn-danger"
                                                    data-dismiss="modal"
                                                    (click)="apagarArquivo()">Apagar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade bd-example-modal-lg"
                                tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div *ngIf="item" class="modal-header">
                                            <b>{{item.descricao}}</b>
                                            <button type="button"
                                                class="close iconeFechar"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                                <span
                                                    aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div *ngIf="item" class="modal-body">
                                            <div class="text-center"
                                                style="margin: 5px 0 25px">
                                                <img src="{{item.url_location}}"
                                                    class="cad-img-top" id="imd"
                                                    style="max-width: 100%; max-height: 300px" />
                                            </div>
                                            <textarea style="width: 100%;"
                                                [readonly]="true">Descrição : {{item.descricao_completa}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>