<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>

<body>
    <div class="bg-image"></div>
    <div class="body-login d-flex justify-content-center">
        <div class="col p-2 align-self-center">
            <div class="container-fluid">
                <div class="row">
                    <div *ngIf="showLogin === false"
                        class="justify-content-center mx-auto col-xl-6 col-12">
                        <form
                            class="col-10 login m-1 p-6 mx-auto login fundologin">
                            <h2 class="text-center pt-3">Login
                            </h2>
                            <div>
                                <label class="ml-3 float-left col-form-label">
                                    <b>
                                        Matrícula</b>
                                </label>
                                <div class="col-sm-12">
                                    <input type="text"
                                        [(ngModel)]="usuario.matricula"
                                        name="matricula" class="form-control"
                                        placeholder="Matrícula">
                                </div>
                            </div>
                            <div>
                                <label
                                    class="ml-3 float-left col-form-label"><b>
                                        Senha</b></label>
                                <div class="col-sm-12">
                                    <input type="password"
                                        [(ngModel)]="usuario.password"
                                        name="password"
                                        class="form-control marge"
                                        placeholder="Senha">
                                </div>
                                <div
                                    class="col mt-4 pb-5 mx-auto justify-content-center">
                                    <div class="d-flex justify-content-center">
                                        <span class="spinner-border"
                                            role="status"
                                            [ngClass]="{ spinnerLoading: autenticar.loading }"
                                            aria-hidden="true">
                                        </span>
                                    </div>

                                    <input type="button"
                                        [ngClass]="{ spinnerLoading: !loading }"
                                        class="btn btn-success btn-block w-100 mt-4 p-2"
                                        (click)="fazerlogin()" value="Entrar">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div
                        class="row justify-content-center col-xl-6 col-12 order-first">
                        <img src="assets/logo.svg" class="img p-2 m-4 mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <p class="text-center"><b>SISVISA</b></p>
    </footer>
</body>

</html>