<h3 class="text-center">Termos Cadastrados</h3>
<div class="row align-items-end">
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
    <label for="initDate">De:</label>
    <input type="date" id="initDate" class="charts-input"
      [(ngModel)]="initDate" display-format="DD/MM/YYYY">
  </div>
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
    <label for="endDate">Até:</label>
    <input type="date" id="endDate" class="charts-input"
      [(ngModel)]="endDate" display-format="DD/MM/YYYY">
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
    <b></b>
    <button type="button" (click)="getListaTermo()"
      class="btn btn-info btn-lg btn-block align-bottom"><i class="ml-2 mr-2 fa fa-refresh"
        aria-hidden="true"></i></button>
  </div>
</div>
<div class="m-2" style="display: block;">
  <canvas baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [colors]="barChartColors"
    [chartType]="barChartType">
  </canvas>
</div>
