/* textarea{
    height: 100%;
} */

.espaco {
  margin-left: 2%;
}

.teste {
  display: inline-block;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 15px;
  width: 17rem;
  box-shadow: 0 0 20px 2px #ccc;
}

.border {
  background-color: white;
  border: none;
}

.border {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin {
  margin-left: 10%;
  margin-right: 10%;
}

p {
  max-width: 18ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-header {
  max-height: 40px;
  background-color: white;
  border: none;
}

.fa-times:hover {
  color: red;
  cursor: pointer;
}

.btn-dark {
  margin: 10px 0px 10px;
  border-radius: 0;
}

.card {
  border: none;
}

h1 {
  margin: 0 0 50px;
}

/* .bt {
    left: 50%;
    margin-right: -50%;
} */

.spinnerLoading {
  display: none;
}

a:hover {
  color: blue;
  cursor: pointer;
}

.responsiva > h1 {
  font-size: calc(2em + 1vw);
}

.conteudo {
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.t {
  margin-right: 35px;
  margin-top: 50px;
  box-shadow: 0 0 20px 2px #ccc;
}

.fa-file-word-o {
  color: blue;
}

.modal-header {
  background-color: #0b2b40;
  color: white;
}

.iconeFechar:hover {
  color: red;
}
