.teste {
    display: inline-block;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 17rem;
    box-shadow: 0 0 20px 2px #ccc;
}

.border {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin {
    margin-left: 10%;
    margin-right: 10%;
}

p {
    max-width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-header {
    max-height: 40px;
    background-color: white;
    border: none;
}

.fa-times:hover {
    color: red;
    cursor: pointer;
}

.btn-dark {
    margin: 10px 0px 10px;
    border-radius: 0;
}

.card {
    border: none;
}

.spinnerLoading {
    display: none;
}

a:hover {
    color: blue;
    cursor: pointer;
}

.ng-invalid:not(estabelecimentoForm).form-submitted {
    border-bottom: solid 2px red;
}

.responsiva>h1 {
    font-size: calc(2em + 1vw);
}