.estilo {
  width: 500px;
  height: 300px;
}

.card {
  margin: 10pt 0 10pt;
  cursor: pointer;
  box-shadow: 0 0 20px 2px #d3d3d3;
}

.fa {
  color: #0b2b40;
}

.divCard {
  width: 20%;
  margin-right: 10px;
}

.fontCard {
  font-size: 25px;
}

.corpoCard {
  width: 60%;
}
