.estilo {
    width: 500px;
    height: 300px;
}

.card {
    padding: 10px;
    margin: 10pt 0 10pt;
    box-shadow: 0 0 20px 2px #d3d3d3;
    /* margin-left: 20pt;
   margin-right: 20pt; */
}

.fa {
    color: #0B2B40;
}


/* .responsiva>h5 {
    font-size: calc(10px + (8/1200) * 100 * 1vw)
} */

.mineCard {
    padding: 20pt
}

.divCard {
    width: 20%;
    margin-right: 10px
}

.fontCard {
    font-size: 25px
}

.tamanhoMinCard {
    min-width: 200pt;
}

.corpoCard {
    width: 60%;
}